.chat-dis::-webkit-scrollbar {
  width: 5px;
}
.chat-dis::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 20px;
  margin: 50px;
}
.chat-dis::-webkit-scrollbar-thumb {
  background-color: rgb(32, 211, 32);
  border-radius: 20px;
}
.main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
  background-color: rgb(173, 249, 173);
}
nav {
  background-color: rgb(32, 211, 32);
  border-radius: 10px;
  margin: 5px 50px;
}
.logo {
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 600;
  width: 170px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-cont {
  display: grid;
  grid-template-columns: 30% 70%;
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-input {
  position: absolute;
  width: 90%;
  bottom: 0;
  background-color: rgb(32, 211, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  flex-direction: row;
  gap: 10px;
}
.chat-input input {
  width: 500px;
  background-color: white;
  min-height: 30px;
  border-radius: 10px;
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 6px 10px 6px 10px;
  margin: 7px 0 7px 0;
  color: black;
  border: none;
}
.chat-input button {
  height: 40px;
  background-color: green;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: 1000;
  font-size: 20px;
  border: none;
  width: 40px;
  border-radius: 10px;
  cursor: pointer;
}
.username-setup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.username-setup form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  background-color: rgb(32, 211, 32);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.username-setup form input {
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 80%;
  height: 30px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: black;
}
.username-setup form button {
  background-color: lightgree;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
}
.chat-header {
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 211, 32);
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 5px auto;
  border-radius: 10px;
}
.gen {
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 40% 40% 20%;
  padding: 10px;
}
.gen-ad1,
.gen-ad2 {
  background-color: aqua;
  border-radius: 10px;
  margin-bottom: 10px;
}
.gen-donation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.gen-donation h2 {
  margin: -10px;
}
.total-dont {
  margin: 0;
  font-family: sans-serif;
  font-weight: 600;
}
.dont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.dont button {
  border-radius: 10px;
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.dont-a {
  background-color: rgb(34, 235, 34);
}
.dont-a:hover {
  border: 4px solid rgb(34, 235, 34);
  color: rgb(34, 235, 34);
}
.dont-b {
  background-color: red;
}
.dont-b:hover {
  border: 4px solid red;
  color: red;
}
.dont-c {
  background-color: gold;
}
.dont-c:hover {
  border: 4px solid gold;
  color: gold;
}
.dont button:hover {
  background-color: white;
  transform: scale(1.05);
}
